---
---

.mt-5 {
    margin-top: 1rem !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 20px;
    // border: 1px solid #ccc;
    border-radius: 10px;
    // max-width: 900px;
    // width: 100%;
    margin: 0 auto;
  }
  .profile-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .profile-container h5 {
    margin: 0;
    font-size: 1.2em;
    // color: #333;
  }

  .timeline-date-loc {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .timeline-loc {
    font-style: italic;
  }

  .section-title {
    margin-top: 1.5rem;
  }

  .skills {
    // margin: 30px;
    margin: 10px 0px 10px 30px !important;
  }

  .timeline-body .timeline-item .content {
    margin: 25px 40px 25px 40px !important;
    border-bottom: 0 !important;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  .skill-body .timeline-item:after {
    display: none;
  }

  .skill-body .timeline-item .content {
    padding-bottom: 0px !important;
  }


  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between skills as needed */
  }
  
  .skill {
    flex: 1 1 45%; /* Adjust the percentage to control the column width */
    // padding: 10px;
    // background-color: #f8f9fa; /* Background color for skill items */
    border-radius: 5px;
    // margin: 5px;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  
  .skill span {
    display: inline-block;
    // padding: 5px;
    // border-left: 3px solid #007bff;
    // padding-left: 10px;
    width: 100%;
  }

  .more-about {
    margin-top: 50px;
    text-align: center;
  }

  .more-about > a {
    min-width: 150px;
  }

  .socials {
    display: flex;
  }

  .more-about-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .btn-email {
    background-color: #007bff;
  }
  
  .btn-linkedin {
    background-color: #0a66c2;
  }
  
  .btn-github {
    background-color: #333;
  }

  .btn-projects {
    background-color: #38434e;
  }
  
  .btn-blog {
    background-color: #646464;
  }

  .social-btn:hover, .my-btn:hover {
    opacity: 0.8;
    // background-color: #646464;
    background-color: #f8f9fa;
  }

  .my-btn {
    // display: inline-block;
    // display: ;
    // width: 40px;
    height: 30px;
    // line-height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    // padding: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
    min-width: 140px;
  }

  .my-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .my-btn > i {
    // font-size: 20px;
    margin-right: 0.5rem;

  }
@import "portfolYOU";

